@font-face {
  font-family: 'helveticaneuecyr-thin';
  src: url(../fonts/helveticaneuecyr-thin.otf);
}

@font-face {
  font-family: 'helveticaneuecyr-medium';
  src: url(../fonts/helveticaneuecyr-medium.otf);
}

@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url(../fonts/helveticaneuecyr-light.otf);
}